body {
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
  background-color: #ffbf69;
  padding: 20px;
  margin: 10px;
  border: black;
  border-width: 5px;
  border-style: solid;
  text-align: center;
}

.col-3 {
margin: 0px;
}

.col-9 {
margin: 0px;
}

img {
  height: 300px;
}

.about {
  background-color: #CBF3F0;
  padding: 20px;
}

.about h2 {
  text-align: center;
}

.about img {
  float: right;
  width: 40%;
  height: auto;
}

.background {
  background-color: #ffbf69;
  padding: 20px;
}

.background h2 {
  text-align: center;
}

.personal {
  background-color: #FF9F1C;
  padding: 20px;
}

.personal h2 {
  text-align: center;
}

.projects {
  background-color: #CBF3F0;
  padding: 20px;
}

.projects h2 {
  text-align: center;
}

.sidebar {
  float: left;
  padding: 10px;
}
