body {
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
  background-color: #ffbf69;
  padding: 20px;
  margin: 10px;
  border: black;
  border-width: 5px;
  border-style: solid;
  text-align: center;
}

img {
  height: 300px;
}

.about {
  background-color: #CBF3F0;
  padding: 50px;
  margin-left: 20px;
}

.background {
  background-color: #ffbf69;
  padding: 20px;
}

.personal {
  background-color: #FF9F1C;
  padding: 20px;
}

.projects {
  background-color: #CBF3F0;
  padding: 20px;
}

.sidebar {
  float: left;
  padding: 10px;
  position: relative;
}

.col-md-10 {
  margin: 0px
}

.col-md-2 {
  margin: 0px;
}